<p>Cast</p>

<div id="actors-list">
  <table>
    <thead>
      <tr>
        <td>Actor</td>
        <td>Salary ($)</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of actors">
        <td>{{ row.name }}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>
          <input type="text" class="form-control" id="name" required maxlength="30">
        </td>
        <td>
            <input type="number" class="form-control" id="salary" min="0" 
            max="1000000000" maxlength="1000000000" required>
        </td>
        <td>  
          <button class="delete" title="delete actor" (click)="deleteActor($event)">-</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="add" title="add new actor" (click)="addNewActor()">+</button>
</div>

